@import '~normalize.css';

$color-bg: #292F36;

* {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: $color-bg;
}

#game {
    display: block;
    margin: 0 auto;
}

#ai-color, #user-color {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.owners {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 20px;
    &__user {
        text-align: left;
    }
    &__ai {
        text-align: right;
    }
}

// $colors1: #FF5722;
// $colors1: #E91E63;
// $colors1: #9C27B0;
// $colors1: #3F51B5;
// $colors1: #607D8B;
// $colors1: #009688;
// $colors1: #FFEB3B;
// $colors1: #795548;