@import '~normalize.css';

/* Coolors Exported Palette - coolors.co/242038-9067c6-8d86c9-cac4ce-f7ece1 */

/* RGB */
$color1: #292F36;
$color2: #4ECDC4;
$color3: #FF6B6B;
$color4: #FFF;

* {
    color: $color4;
}

body {
    background: $color1;
}

#game {
    display: block;
    margin: 0 auto;
}