@import '~normalize.css';

/* Coolors Exported Palette - coolors.co/242038-9067c6-8d86c9-cac4ce-f7ece1 */

/* RGB */
$color1: #292F36;
$color2: #4ECDC4;
$color3: #FF6B6B;
$color4: #FFF;

* {
    color: $color4;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: $color1;
}

#game {
    display: block;
    margin: 0 auto;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.score {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

// $colors1: #FF5722;
// $colors1: #E91E63;
// $colors1: #9C27B0;
// $colors1: #3F51B5;
// $colors1: #607D8B;
// $colors1: #009688;
// $colors1: #FFEB3B;
// $colors1: #795548;